.MainWrapper{
    width: 100vw;
    height: 100vh;
    display: inline-block;
    background-image: url('../Media/VectoBackground.jpg');
    background-size: cover;
}
.SearchSection{
    width: auto;
    display: inline-block;
    position: fixed;
    right: 5%;
    top: 5%;
    display: flex;
    align-items: center;

}

.searchButton{
    border-radius: 50%;
    background-color: #59788E;
    border-color: blue;
    width: 60px;
    height: 60px;
    font-size: 30px;
    color: white;
    border-width: 0px;
    z-index: 1;
}

.searchInputHidden{
    visibility: hidden;
}
@keyframes fadein {
    from { left: 80px;
            opacity: 0; }
    to   { left: 0px;
            opacity: 1; }
}
.searchInputVisible{
    height: 100%;
    border-radius: 15px;
    border-color: transparent;
    visibility: visible;
    position: relative;
    margin-right: 10px;
    -webkit-animation: fadein .8s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein .8s; /* Firefox < 16 */
     -ms-animation: fadein .8s; /* Internet Explorer */
      -o-animation: fadein .8s; /* Opera < 12.1 */
         animation: fadein .8s;
}

/* CSS for the main secction weather */
.MainContent{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}
.MainWeatherSection{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, .5); */
    flex-wrap: wrap;
    
}

.WeatherImage{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.WeatherImg{
    height: 150px;
    width: 150px;

}

.CurrentWeather{
    color: blanchedalmond;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-align: center;
    margin: 15px;

}
.CurrentWeather h1{
    margin: 0px;
}
.MainTemp{
    font-size: 4em;
}

.WeatherDetailsSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: whitesmoke;
    flex-wrap: wrap;
    font-size: 1em;
    
    
}
.WeatherDetailsSection article{
    width: auto;
    height: auto;
    text-align: center;
    margin-left: 15px;
    
}
.WeatherDetailsSection article h1{
    width: auto;
    height: auto;
    text-align: left;
    margin-left: 10px;
    
}

.MainForecastSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
   

}
.HourlyForecast{

}

.ForecastChart{
    
}
/* .ForecastChart{
    width: 100%;
  } */